<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"
      xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->

<head th:replace="includes/base :: css"></head>

<body>

    <!-- Preloader Session -->
    <div th:replace="includes/base :: preloader"></div>
    <!-- End Preloader Session -->
    
    <!-- TopHead Session -->
    <div th:replace="includes/base :: top-header"></div>
    <!--End tophead Session -->
    
    <!-- Navbar Session -->
    <nav th:replace="includes/base :: navbar-property"></nav>
    <!-- End of nav bar -->

    <!-- Property Session -->
    <div class="content-area recent-property" style="padding-bottom: 60px; background-color: rgb(252, 252, 252);">
        <div class="container">
            <div class="row">
                <div class="col-md-12  padding-top-40 properties-page">
                    <div class="col-md-12 ">
                        <div class="col-xs-10 page-subheader sorting pl0">

                            <ul class="sort-by-list">
                                <li class="active">
                                    <a href="javascript:void(0);" class="order_by_date" data-orderby="property_date" data-order="ASC">
                                            Property Date <i class="fa fa-sort-amount-asc"></i>					
                                        </a>
                                </li>
                                <li class="">
                                    <a href="javascript:void(0);" class="order_by_price" data-orderby="property_price" data-order="DESC">
                                            Property Price <i class="fa fa-sort-numeric-desc"></i>						
                                        </a>
                                </li>
                            </ul>
                            <!--/ .sort-by-list-->

                            <div class="items-per-page">
                                <label for="items_per_page"><b>Property per page :</b></label>
                                <div class="sel">
                                    <select id="items_per_page" name="per_page">
                                            <option value="3">3</option>
                                            <option value="6">6</option>
                                            <option value="9">9</option>
                                            <option selected="selected" value="12">12</option>
                                            <option value="15">15</option>
                                            <option value="30">30</option>
                                            <option value="45">45</option>
                                            <option value="60">60</option>
                                        </select>
                                </div>
                                <!--/ .sel-->
                            </div>
                            <!--/ .items-per-page-->
                        </div>

                        <div class="col-xs-2 layout-switcher">
                            <a class="layout-list" href="javascript:void(0);"> <i class="fa fa-th-list"></i> </a>
                            <a class="layout-grid active" href="javascript:void(0);"> <i class="fa fa-th"></i> </a>
                        </div>
                        <!--/ .layout-switcher-->
                    </div>

                    <div class="col-md-12 ">
                        <th:block th:each="property : ${property}">
                        <div id="list-type" class="proerty-th">
                            <div class="col-sm-6 col-md-3 p0">
                                <div class="box-two proerty-item">
                                    <div class="item-thumb">
                                        <a th:href="@{/{id}/detail-property(id=${property.id})}"><img th:src="*{'data:image/jpeg;base64,'+{property.image}}"></a>
                                    </div>
                                    
                                    <div class="item-entry overflow">
                                        <h5 th:text="${property.title}"><a th:href="@{/{id}/detail-property(id=${property.id})}"> </a></h5>
                                        <div class="dot-hr"></div>
                                        <span class="pull-left" ><b> Area :</b> <span th:text="${property.area}"></span> <b>M<sup>2</sup></b> </span>
                                        <span class="proerty-price pull-right" > Rp. <span th:text="${property.price}"></span> </span>
                                        <p style="display: none;" th:text="${property.desc}"></p>
                                        <div class="property-icon">
                                            <img th:src="@{/img/icon/bed.png}"><span th:text="${property.bedroom}"></span> <b>|</b>
                                            <img th:src="@{/img/icon/shawer.png}"> <span th:text="${property.bathroom}"></span> <b>|</b>
                                            <br/>
                                            <img th:src="@{/img/icon/cars.png}"> : <span th:text="${property.city}"></span> 
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </th:block>
                    </div>
                    
                    <!-- Next Page -->
                    <div class="col-md-12">
                        <div class="pull-right">
                            <div class="pagination">
                                <ul>
                                    <li><a href="#">Prev</a></li>
                                    <li><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">Next</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Property Session -->


    <!-- Footer Session -->
    <div th:replace="includes/base :: footer"></div>
    <!-- End Footer Session -->

    <!-- Script -->
    <div th:replace="includes/base :: script"></div>
    <!-- End Script -->
    
</body>

</html>