<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"
      xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->

<head th:replace="includes/base :: css"></head>

<body>

    <!-- Preloader Session -->
    <div th:replace="includes/base :: preloader"></div>
    <!-- End Preloader Session -->
    
    <!-- TopHeader Session -->
    <div th:replace="includes/base :: top-header"></div>
    <!--End top header -->
    
    <!-- Navbar Session -->
    <nav th:replace="includes/base :: navbar"></nav>
    <!-- End of nav bar -->

    <div class="page-head">
        <div class="container">
            <div class="row">
                <div class="page-head-content">
                    <h1 class="page-title">Home New account / Sign in </h1>
                </div>
            </div>
        </div>
    </div>
    <!-- End page header -->


    <!-- register-area -->
    <div class="register-area" style="background-color: rgb(249, 249, 249);">
        <div class="container">

            <div class="col-md-6">
                <div class="box-for overflow">
                    <div class="col-md-12 col-xs-12 register-blocks">
                        <h2>New account : </h2>
                        <form method="POST" action="#" th:action="@{/register}" th:object="${customer}">
                            <div class="form-group">
                                <label for="name">Name</label>
                                <input th:field="*{name}" placeholder="Input Your Name" type="text" class="form-control" id="name" required>
                            </div>
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input th:field="*{email}" placeholder="Input Your Email" type="text" class="form-control" id="email" required>
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input th:field="*{password}" placeholder="Input Your Password" type="password" class="form-control" id="password" required>
                            </div>
                            <div class="form-group">
                                <label for="birthday">Birthday</label>
                                <input th:field="*{birthday}" type="text" placeholder="YYYY/MM/DD" class="form-control" id="birthday" required>
                            </div>
                            <div class="form-group">
                                <label for="nik">NIK</label>
                                <input th:field="*{nik}" placeholder="Input Your NIK" maxlength="11" type="text" class="form-control" id="nik" required>
                            </div>
                            <div class="form-group">
                                <label for="address">Address</label>
                                <input th:field="*{address}" placeholder="Input Your Address" type="text" class="form-control" id="address" required>
                            </div>
                            <div class="form-group">
                                <label for="number_phone">Number Phone</label>
                                <input th:field="*{numberPhone}" maxlength="11" placeholder="Input Your Phone Number" type="text" class="form-control" id="number_phone" required>
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-default">Register</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- Footer area-->
    <div th:replace="includes/base :: footer"></div>
    <!-- End Footer Area -->
    
    <!-- Script -->
    <div th:replace="includes/base :: script"></div>
    <!-- End Script -->

</body>

</html>