<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> 
<html class="no-js"
      xmlns:th="http://www.thymeleaf.org">  <!--<![endif]-->
    <head th:replace="includes/base :: css"></head>
    <body>

        <!-- Preloader Session -->
    <div th:replace="includes/base :: preloader"></div>
    <!-- End Preloader Session -->

    <!-- TopHeader Session -->
    <div th:replace="includes/base :: top-header"></div>
    <!--End top header -->
    
    <!-- Navbar Session -->
    <nav th:replace="includes/base :: navbar"></nav>
    <!-- End of nav bar -->

        <div class="page-head"> 
            <div class="container">
                <div class="row">
                    <div class="page-head-content">
                        <h1 class="page-title">List Layout With Sidebar</h1>               
                    </div>
                </div>
            </div>
        </div>
        <!-- End page header -->

        <!-- property area -->
        <div class="content-area recent-property" style="background-color: #FFF;">
            <div class="container">   
                <div class="row">

                    <div class="col-md-9 pr-30 padding-top-40 properties-page user-properties">

                        <div class="section"> 
                            <div class="page-subheader sorting pl0 pr-10">


                                <ul class="sort-by-list pull-left">
                                    <li class="active">
                                        <a href="javascript:void(0);" class="order_by_date" data-orderby="property_date" data-order="ASC">
                                            Property Date <i class="fa fa-sort-amount-asc"></i>					
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="javascript:void(0);" class="order_by_price" data-orderby="property_price" data-order="DESC">
                                            Property Price <i class="fa fa-sort-numeric-desc"></i>						
                                        </a>
                                    </li>
                                </ul><!--/ .sort-by-list-->

                                <div class="items-per-page pull-right">
                                    <label for="items_per_page"><b>Property per page :</b></label>
                                    <div class="sel">
                                        <select id="items_per_page" name="per_page">
                                            <option value="3">3</option>
                                            <option value="6">6</option>
                                            <option value="9">9</option>
                                            <option selected="selected" value="12">12</option>
                                            <option value="15">15</option>
                                            <option value="30">30</option>
                                            <option value="45">45</option>
                                            <option value="60">60</option>
                                        </select>
                                    </div><!--/ .sel-->
                                </div><!--/ .items-per-page-->
                            </div>

                        </div>
                        <th:block th:each="myProperty : ${myproperties}">
                        <div class="section"> 
                            <div id="list-type" class="proerty-th-list">
                                <div class="col-md-4 p0">
                                    <div class="box-two proerty-item">
                                        <div class="item-thumb">
                                            <a href="property-1.html" ><img th:src="*{'data:image/jpeg;base64,'+{myProperty.image}}"></a>
                                        </div>
                                        <div class="item-entry overflow">
                                            <h5><a href="property-1.html" th:text="${myProperty.title}"> </a></h5>
                                            <div class="dot-hr"></div>
                                            <span class="pull-left"><b> Area :</b><span th:text="${myProperty.area}"></span><b class="property-info-unit"><sup>m2</sup></b></span>
                                            <span class="proerty-price pull-right" > Rp <span th:text="${myProperty.price}"></span></span>
                                            <p style="display: none;" th:text="${myProperty.desc}"></p>
                                            <div class="property-icon">
                                                <img src="/img/icon/bed.png"><span th:text="${myProperty.bedroom}"></span> |
                                                <img src="/img/icon/shawer.png"><span th:text="${myProperty.bathroom}"></span> |
                                                <img src="/img/icon/cars.png"><span th:text="${myProperty.city}"></span>  

                                                <div class="dealer-action pull-right">                                        
                                                    <a th:href="@{/property/{id}/edit(id=${ myProperty.id })}" class="button">Edit </a>
<!--                                                    <a class="button delete_user_car" onSubmit="return confirm('Do you really want to elete to-do?')" method="POST" action="#" th:action="@{/property/{id}/delete(id=${ myProperty.id })}">Delete</a>-->
                                                    <a th:href="@{/{id}/detail-property(id=${myProperty.id})}" class="button">View</a>
                                                    <form class="button delete_user_car" onSubmit="return confirm('Do you really want to elete to-do?')" method="POST" action="#" th:action="@{/property/{id}/delete(id=${ myProperty.id })}">
                                                        <button type="submit" class="button delete_user_car">Delete</button>
                                                    </form>
                                                </div>
                                            </div>


                                        </div>
                                    </div>
                                </div>                             
                            </div>
                        </div>
                        </th:block>

                        <div class="section"> 
                            <div class="pull-right">
                                <div class="pagination">
                                    <ul>
                                        <li><a href="#">Prev</a></li>
                                        <li><a href="#">1</a></li>
                                        <li><a href="#">2</a></li>
                                        <li><a href="#">3</a></li>
                                        <li><a href="#">4</a></li>
                                        <li><a href="#">Next</a></li>
                                    </ul>
                                </div>
                            </div>                
                        </div>

                    </div>       

                    <div class="col-md-3 p0 padding-top-40">
                        <div class="blog-asside-right">
                            <div class="panel panel-default sidebar-menu wow fadeInRight animated" >
                                <div class="panel-heading">
                                    <h3 class="panel-title">Hello Kimaro</h3>
                                </div>
                                <div class="panel-body search-widget">

                                </div>
                            </div>

                            <div class="panel panel-default sidebar-menu wow fadeInRight animated">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Recommended</h3>
                                </div>
                                <div class="panel-body recent-property-widget">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <!-- Footer area-->
    <div th:replace="includes/base :: footer"></div>
    <!-- End Footer Area -->

    <!-- Script -->
    <div th:replace="includes/base :: script"></div>
    <!-- End Script -->
    
    </body>
</html>